@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* select styles */
	/* https://github.com/rob-balfre/svelte-select/blob/master/docs/theming_variables.md */
	--background: #374151;
	--list-background: var(--background);
	--item-active-background: var(--background);
	--item-hover-bg: grey;

	--multi-item-bg: grey;
	--multi-item-clear-icon-color: white;
	--border: 1px solid #4b5563;
	--border-hover: 1px solid #d1e602;
	--border-focused: var(--border-hover);
	color-scheme: dark;
}

body {
	margin: 0;
	background: hsl(235, 28%, 9%);
	color: white;
}
